<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/style.css" />
    <title>g0v Tasks Queue Viewer for Github</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <script>
    var $issue_arr = new Array();
    var $github_auth_state = false;
    var $client_id = "f28f25345252f276d729";
    var $access_token = "";
    
    function get_github_repos_issues(org, repo) {
        if (!org || !repo) {
            return;
        }
        var github_api_url = 'https://api.github.com/repos/'+org+'/'+repo+'/issues?callback=get_all_issues_callback&access_token='+$access_token;
        $.ajax({
            url: github_api_url,
            dataType: 'jsonp',
            success: function(response) {
                get_github_repos_issues_callback(response);
                
            },
            error: function(err) {
                console.log(err);
            }
        });
    }
    
    function get_github_repos_issues_callback(response)
    {
        var data = response.data;
        $issue_arr = $issue_arr.concat(data);
        var app = document.getElementById('issue_list_control');
        
        var scope = angular.element(app).scope();
        scope.issues = $issue_arr;
        scope.$apply();
        
        
    }
    
    function fetch_issue()
    {
        var repos = $("#repo_list").val().trim().split('\n');
        var org = "";
        var repo = "";
        
        // TODO parallel fetch & display
        for (var i = 0; i < repos.length; i++) { 
            repo_paths = repos[i].split('/');
            if (repo_paths.length == 2) {
                org = repo_paths[0];
                repo = repo_paths[1];
            } else {
                console.log("Error, no repo");
            }
            get_github_repos_issues(org, repo);
        }
    }

    function auth() {
        window.location = "https://github.com/login/oauth/authorize?client_id="+$client_id;
    }
    
    function issue_list_control($scope)
    {
        $scope.issues = $issue_arr;
    }
    
    function fetch_issue_with_oauth() {
        // empty issue_arr
        $issue_arr = new Array();
        if ($access_token) {
            // Already got the token
            fetch_issue();
        } else {
            var query = window.location.search.substring(1);
            if (!query) {
                auth();
            } else {
                var query_arr = query.split('=');
                var field = query_arr[0];
                if (field === 'access_token') {
                    $access_token = query_arr[1];
                    fetch_issue();
                } else {
                    console.log('Unexpected');
                }
            }
        }
    }
    

    $(function() {
        fetch_issue_with_oauth();
     });
    </script>
</head>
<body>
    <h2>g0v Tasks Queue Viewer for Github</h2>
    <div>
        <div>
            <span>{org}/{repo}, one pre line</span>
            <div>
            <textarea id="repo_list" type="text" name="repo_list" style="height: 100px;">
g0v/hack.g0v.tw
g0v/g0v.tw
            </textarea>
            </div>
        </div>
        <div>
            <button onclick="fetch_issue_with_oauth()">Update</button>
        </div>
    </div>
    <div class="issues">
        <table>
        <tbody id="issue_list_control" ng-controller="issue_list_control">
            <tr>
                <th>Project</th>
                <th>Issue Number</th>
                <th>Title</th>
                <th>State</th>
                <th>Assignee</th>
                <th>Reporter</th>
                <th>Labels</th>
                <th>comments</th>
            </tr>
            <tr ng-repeat="issue in issues">
                <td>{{issue.html_url}}</td>
                <td>{{issue.number}}</td>
                <td><a href="{{issue.html_url}}" target="_blank">{{issue.title}}</a></td>
                <td>{{issue.state}}</td>
                <td><img src="{{issue.assignee.avatar_url}}" class="avatar" />{{issue.assignee.login}}</td>
                <td><img src="{{issue.user.avatar_url}}" class="avatar" />{{issue.user.login}}</td>
                <td><div ng-repeat="label in issue.labels"><span style="color:#{{label.color}};">{{label.name}}</span></div></td>
                <td>{{issue.comments}}</td>
            </tr>
        </tbody>
        </table>
    </div>
</body>
</html>
